- unless timeline.nil?
  %table.table
    %legend Timeline
    %thead
      %tr
        %th ID
        %th Text
        %th Created at
        %th Updated at
        %th Actions
    %tbody
      - timeline.each do |card|
        = render 'card', card: card