.panel.panel-default
  .panel-heading
    = link_to '/hello_self', class: 'btn btn-default' do
      Hello self!
  #map.panel-body

= render 'timeline', timeline: @timeline

:javascript
  $(document).ready(function() {
    var map = new Map('map')
    var wkt = '#{@location.try(:wkt)}';
    if (wkt.length > 0) {
      map.fromWKT(wkt);
    }
  })
