%h2
  Welcome
  
.panel.panel-warning
  .panel-body
    = mirror_api.try(:timeline)
    = mirror_api.try(:locations)
    
    - if signed_in?
      = current_user.name
      = current_user.attributes.inspect