.panel.panel-default
  .panel-heading
    = link_to '/hello_self', class: 'btn btn-default' do
      Hello self!
  #map.panel-body
  
= current_user.attributes

- unless @timeline.nil?
  %table.table
    %legend Timeline
    %tbody
      - @timeline.each do |card|
        = render 'card', card: card

:javascript
  $(document).ready(function() {
    var map = new Map('map')
    var wkt = '#{@location.try(:wkt)}';
    if (wkt.length > 0) {
      map.fromWKT(wkt);
    }
  })
