.container
  %h1 
    TekApp
    .pull-right
      - if signed_in?
        = link_to '/logout', class: 'btn btn-primary' do
          Logout
      - else
        = link_to '/login', class: 'btn btn-primary' do
          Login
